$c-bg: #111213;
$c-bg-l: #00000049;
$c-fg: #ffffff;
$c-red: #fb4934;
$c-green: #8fbcbb;
$c-yellow: #fabd2f;
$c-blue: #8fbcbb;
$c-purple: #d3869b;
$c-aqua: #8ec07c;

.t-red    { color: $c-red; }
.t-green  { color: $c-green; }
.t-yellow { color: $c-yellow; }
.t-blue   { color: $c-blue; }
.t-purple { color: $c-purple; }
.t-aqua   { color: $c-aqua; }