$c-bg: #282828;
$c-fg: #ebdbb2;
$c-red: #fb4934;
$c-green: #b8bb26;
$c-yellow: #fabd2f;
$c-blue: #83a598;
$c-purple: #d3869b;
$c-aqua: #8ec07c;

.t-red    { color: $c-red; }
.t-green  { color: $c-green; }
.t-yellow { color: $c-yellow; }
.t-blue   { color: $c-blue; }
.t-purple { color: $c-purple; }
.t-aqua   { color: $c-aqua; }