.Chat{
  padding: 15px;
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @mixin borders {
      border: 1px solid $c-aqua;
  }

  #input-box {
    display: flex;
    height: 45px;

    input,button{
      @include borders;
      color: $c-fg;
      background-color: transparent;
    }

    input {
      border-top: none;
      padding-left: 15px;
      border-radius: 0px 0px 0px 10px;
      border-right: none;
      width: 100%;
    }

    button {
      transition: 0.2s ease-in-out;
      cursor: pointer;
      border-top: none;
      border-radius: 0px 0px 10px 0px;
      min-width: 80px;
    }

    button:hover {
      background-color: $c-aqua;
      color: $c-bg;
    }
  }

  #message-box {
    @include borders;
    display: flex;
    flex-direction: column;
    height: 100%;
    .Message {
      font-family: $f-mono;
      font-size: 12px;
      margin: 8px;
      word-wrap: break-word;

      .Author {
        color: $c-green;
      }

      .MessageText{
        color: $c-purple;
      }
    }
  }
}